[merge]
	tool = BeyondCompare3
[diff]
	guitool = beyondcompare3
[core]
	editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
[user]
	name = narutouzumaki189
	email = siva2thrones@gmail.com
[difftool "beyondcompare3"]
	path = C:/Program Files (x86)/Beyond Compare 3/bcomp.exe
	cmd = \"C:/Program Files (x86)/Beyond Compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "BeyondCompare3"]
	path = C:/Program Files (x86)/Beyond Compare 3/bcomp.exe
	cmd = \"C:/Program Files (x86)/Beyond Compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[http "https://github.com/NarutoUzumaki189"]
	proxy = proxy.jf.intel.com:911
